@import './_const.scss';

//Headers
.celm-title {
    font-weight:normal;
    color:$primary-color;
    margin:$header-margin;
}

//Forms
.celm-form {
    width:100%;
    max-width:$form-max-width;
    margin:0 auto;
}

.celm-form-group {
    margin-bottom:$base-margin;
    &.error {
        .celm-input {
            border-color:$error-color;
        }
    }
    label {
        display:block;
        text-align:left;
        font-size:$label-fs;
        font-weight:bold;
    }
}
.celm-input {
    width:100%;
    max-width:$input-max-width;
    padding:$input-padding;
    background-color:$input-bg-color;
    box-shadow:none;
    outline:none;
    border:$input-border;
    font-size:$input-fs;
    &:focus {
        outline:none;
    }
}

.celm-button {
    display:block;
    width:100%;
    max-width:$button-max-width;
    padding:$button-padding;
    background-color:$button-bg-color;
    margin:$button-margin;
    color:$button-font-color;
    font-weight:bold;
    text-decoration:none;
    -webkit-appearance: none;
    border:none;
    box-shadow:none;
    font-size:$base-fs;
    cursor:pointer;
    &:disabled {
        opacity:0.5;
        cursor: not-allowed;
    }
    &.is-toolbar {
        width:auto;
        display:inline-block;
        font-size:$base-fs*0.8;
    }
    &:hover {
        background-color:$button-font-color;;
        color:$button-bg-color;;
    }
    &:focus {
        outline:none;
    }
}

.celm-form-tip {
    font-size:$tip-fs;
    font-family:courier;
    &.is-warning {
        .celm-form-tip-body {
            color:darken($error-color,10);
            border-color:$error-color;
        }
    }
    &.is-success {
        .celm-form-tip-body {
            color:$success-color;
        }
    }
}

//Toolbars
.celm-toolbar {
    position:absolute;
    top:$base-margin;
}

//states
.is-warning {
    color:$error-color;
}
.is-success {
    color:$success-color;
}